<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-04-06T08:44:56Z</date>
	<key>WorkspacePath</key>
	<string>/Users/mac/Documents/dino4674-mvvmswiftexample-starter-25663cc4ee77 2/MVVMSwiftExample.xcodeproj</string>
</dict>
</plist>
